body {
  position: absolute;
  background: var(--background);
  display: flex;
  max-height: 100vh;
  flex-flow: wrap;
  font-size: 0.8em;
  overflow-x: hidden;
}

section.main {
  background: var(--background);
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  flex: 2 75vw;
  transition: 1s ease;
  z-index: 1000;
}
section.main.hide {
  width: 75vw;
  max-width: 100vw;
  min-height: 100vh;
  flex: 2 75vw;
  transition: 1s ease;
}
aside.content.hide {
  min-width: 0;
  width: 0;
  height: 0;
  display: none;
  opacity: 0.7;
  transition: 0.3s ease;
}

aside.content {
  opacity: 1;
  flex: 2 23.5vw;
  width: 23.5vw;
  min-height: 100vh;
  background: var(--colorFs);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -0.75em 0 0 #2c292d55;
  z-index: 1000;
  overflow: hidden;
  font-size: 1.5em;
}
aside.content h3 {
  text-align: center;
  font-variant: all-small-caps;
  font-weight: 800;
  font-size: 2em;
}
aside div i {
  width: 100%;
}
aside.content h4 {
  font-variant: all-small-caps;
  /*     font-size: 1.5em; */
  padding: 0.5em;
  background: var(--foreground);
  border-radius: 10em;
  margin: 0.3em;
}
aside.content h4 b {
  padding: 0.1em;
}
aside.content div {
  min-width: 50%;
  text-align: center;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 0.3em solid var(--background);
  display: flex;
  flex-direction: column;
}
aside.content ul.list {
  width: 100%;
  display: flex;
  list-style: none;
  margin-block: 1em;
  justify-content: center;
}
aside.content ul.list li {
  text-align: center;
  margin: 0em 1em;
  border-radius: 1em;

  flex: 2;
  max-width: 50vw;
  background: var(--colorE);
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside.content ul.list > li i {
  display: none;
}
aside.content ul.list > li:hover i {
  display: block;
}
aside.content ul.list > li:hover p {
  display: none;
}
aside.content > div {
  background: var(--colorE);
}
aside.content .aviable {
  background: var(--foreground) !important;
}
aside.content .aprobed {
  background: var(--colorD) !important;
  transition: 0.2s ease;
}
aside.content .dep {
  border: 0.3em dotted var(--colorAs);
  transition: 0.2s ease;
}
body aside.content .copre {
  border: 0.3em solid var(--colorAs);
  transition: 0.2s ease;
}
aside.content ul.hours {
  display: flex;
  width: 100%;
  border-block: 0.2em solid var(--background);
  list-style: none;
  margin: 1em 0;
}
aside.content ul.hours li {
  width: 100%;
  flex: 100% 1;
  text-align: center;
  font-weight: 800;
  font-size: 1.25em;
}
aside.content ul.hours li.t {
  background: var(--colorA);
}
aside.content ul.hours li.p {
  background: var(--colorEs);
}
aside.content ul.hours li.l {
  background: var(--colorDs);
}
footer {
  font-variant: all-small-caps;
  flex: 1 100%;
  text-align: center;
  color: var(--foreground);
  user-select: text;
  cursor: pointer;
  z-index: 1000;
}
article.scheme {
  display: flex;
  max-width: 100vw;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
*::-webkit-scrollbar {
  border-radius: 10px;
  width: 7px;
  height: 7px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--foreground);
}
*::-webkit-scrollbar-track {
  background: var(--background);
}
article.scheme ul {
  list-style: none;
  padding: 0.5em;
  display: flex;
  flex-flow: column;
}
article.scheme ul li {
  min-width: 12em;
  min-height: 5em;
  color: var(--background);
  background: linear-gradient(var(--colorE) 0% 60%, #0000);
  background-origin: border-box;
  margin: 0.5em;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease-in;
  border: solid #0000; /*Rezise*/
  user-select: none;
  font-variant: all-small-caps;
}
article.scheme ul li.road {
  background: var(--colorE);
}
article.scheme ul li:hover {
  opacity: 1;
  transition: 0.1s ease-out;
}

article.scheme ul li.aviable {
  background: var(--foreground);
  opacity: 1;
  user-select: all;
  transition: 0.3s ease;
}
article.scheme ul li.aprobed {
  background: var(--colorD);
  opacity: 1;
  transition: 0.2s ease;
}
article.scheme ul li.sem {
  user-select: none;
  min-height: 2em;
  background: var(--colorAs);
  transition: 0.2s ease;
}
article.scheme ul li.copre {
  border: 0.3em solid var(--colorAs);
  transition: 0.2s ease;
}
article.scheme ul li.dep {
  border: 0.3em dotted var(--colorAs);
  transition: 0.2s ease;
}
article.scheme .locked {
  /*     background: var(--colorA); */
  opacity: 0.5;
  transition: 0.2s ease;
}

article.scheme ul.locked:nth-of-type(4),
article.scheme ul.locked.x {
  border-left: dotted var(--colorA) 1em;
  /*         background: var(--colorA); */
}
section.bann {
  right: 0;
  bottom: 0;
  position: fixed;
  margin: 1em;
  z-index: 1001;
/*   transition: 0.4s ease; */
  display: flex;
  flex-direction: row-reverse;
}
section.bann.lk {
  width: 98vw !important;
  height: 98vh !important;
  margin: 1vh 1vw;
  align-items: center;
}
section.bann > div {
  background: var(--foreground);
  border-radius: 100%;
  flex: 2 auto;
  margin: 0.75em;
  width: 5em;
  height: 5em;
  overflow: hidden;
  display: flex;
  /* transition: 0.5s ease; */
  flex-direction: column;
  /*     align-self:center; */
}
section.bann > div.look {
  width: 100%;
  min-height: 75%;
  height: auto;
  flex: 2 100%;
  border-radius: 1em;
  transition: 0.5s ease;
  align-self: center;
  margin: 0;
}
section.bann div.icon img {
  width: 3em;
}
section.bann div.look div.icon img {
  width: 3em;
}
section.bann div.icon p {
  text-align: center;
  align-self: center;
  font-size: 4em;
  font-weight: 800;
}
section.bann div.look div.icon p {
  font-size: 2.5em;
  /*     width: 2.5em; */
  text-align: end;
}
section.bann div.icon {
  align-self: center;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
section.bann div.look div.icon {
  height: auto;
  cursor: auto;
}
section.bann div.icon h3 {
  display: none;
  margin: 1em;
  font-size: 2.5em;
  font-variant: all-small-caps;
}
section.bann div.look div.icon h3 {
  display: block;
}
section.bann div.hcont {
  display: none;
  opacity: 0;
}
section.bann div.look div.hcont {
  display: flex;
  opacity: 1;
  justify-content: center;
  flex: 2;
  align-items: center;
}
section.bann div div.icon {
  background: var(--foreground);
  width: max-content;
  padding: 0.85em;
  border-radius: 100%;
}
section.bann div.pag > p {
  color: var(--foreground);
  margin: 1em;
  font-size: 1.5em;
  font-variant: all-petite-caps;
  font-weight: 600;
/*   text-align: center; */
  /*     width: 100%; */
}

div.blk {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--background);
  z-index: 0;
  opacity: 0;
}
div.blk.look {
  z-index: 1001;
  opacity: 0.7;
  transition: 0.2s ease-in opacity;
}
i.back {
  background: var(--background);
  font-size: 3em;
  font-weight: 800;
  color: var(--foreground);
  padding: 0.1em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  clip-path: circle();
  user-select: none;
  cursor: pointer;
  align-self: center;
  margin: 1em;
}
div.help .hcont {
  margin-bottom: 2em;
  align-items: end;
}
div.help article.scheme {
  margin: 0 0em 0 2em;
  background: var(--background);
  border-radius: 1em;
  flex-direction: column;
  flex: 2;
  padding: 2em;
  min-height: min-content;
}
div.help article.scheme ul.leyend {
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 100%;
}
div.help article.scheme ul.leyend li {
  height: 1em;
  user-select: none;
}
div.help article.scheme ul.leyend li:first-child {
  margin: 0 100%;
  height: 50%;
  max-height: 6em;
  flex: 1 100%;
}
div.help article.scheme h2 {
  text-align: center;
  font-size: 2em;
  margin: 0.75em;
  color: var(--foreground);
  font-variant: all-small-caps;
  flex: 1 100%;
}

div.dots {
  align-self: center;
  display: flex;
  flex: 3 50%;
  align-items: end;
}
div.dots div.dot {
  padding: 0.75em;
  background: var(--foreground);
  border-radius: 100%;
  width: 2em;
  height: 2em;
  cursor: pointer;
  transition: 0.2s ease;
  border: 1em solid var(--background);
}
div.dots div.dot.sel {
  background: var(--colorC);
  transition: 0.2s ease;
  cursor: auto;
}
div.pag.sel {
  display: flex;
  width: auto;
  transition: 0.3s ease;
  /* font-size: 2em; */
  justify-content: center;
}
div.pag.sel div.icon {
  width: 5em
}
div.pag {
  display: none;
  flex-wrap: wrap;
  width: 0;
}
div.pag.l {
  justify-content: center;
  flex-wrap: wrap;
}
div.pag.l ul li {
  width: min-content;
}
div.pag.l > p {
  color: var(--foreground);
  font-weight: 800;
  flex: 1 100%;
  text-align: center;
  padding: 1em;
}
div.upl div.but button {
  background: var(--background);
  border-radius: 2em;
  border: none;
  margin: 1em;
  width: min-content;
  max-height: 50%;
  height: min-content;
  padding: 1em;
  color: var(--foreground);
  font-weight: 800;
  font-size: 2.5em;
  font-variant: all-petite-caps;
  transition: 0.2s ease-out;
}
div.upl div.but button:hover,
i.back:hover {
  background: var(--colorEs);
  transition: 0.2s ease-in;
}
div.but {
  padding: 5em;
  border-radius: 2.5em;
  border: var(--background) dotted 1em;
  margin: 2em;
  width: 90%;
  display: flex;
  justify-content: center;
}

@media (orientation: portrait) {
  aside.content {
    flex: 1 100vw;
    min-height: auto;
    max-height: 25vh;
    height: 25vh;
  }
  section.main {
    width: 100vw;
    font-size: 1.75em;
  }
  section.main.hide {
    height: 75vh;
    min-height: 75vh;
  }
  section.bann > div {
    width: 10em;
    height: 10em;
  }
  section.bann > div.look {
    min-height: 50%;
  }
  section.bann div div.icon img {
    width: 5em;
  }
  section.bann div.look div.icon img {
    width: 6em;
  }
    section.bann div div.icon p {
    font-size:5em;
  }
  section.bann div.look div.icon p {
    font-size:6em;
  }
  section.bann {
    flex-direction: column;
    justify-content: center
  }
  section.bann div.look {
    max-height: 50%;
  }
  section.bann > div:not(.look) {
    max-height: 10em;
  }
  i.back {
    font-size: 7em;
  }
  aside i.back {
    transform: rotate(90deg);
    font-size: 5em;
  }
}