* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Ubuntu, Arial, Helvetica, sans-serif;
}

:root {
    /* Adapted Colors with Material Design 3 Convention */

    /* colorA (Based on --colorA) */
    --colorA-10: #3f0018;
    --colorA-20: #67002a;
    --colorA-30: #90003e;
    --colorA-40: #b70053;
    --colorA-50: #d80067;
    --colorA-60: #ff6188;
    --colorA-70: #ff88a0;
    --colorA-80: #ffa9b8;
    --colorA-90: #ffdce5;
    --colorA-95: #ffeef2;
    --colorA-99: #fffbfc;

    /* colorB (Based on --colorB) */
    --colorB-10: #3a1700;
    --colorB-20: #632700;
    --colorB-30: #8b3700;
    --colorB-40: #b24700;
    --colorB-50: #d45600;
    --colorB-60: #fc9867;
    --colorB-70: #ffb891;
    --colorB-80: #ffccb4;
    --colorB-90: #ffe4d7;
    --colorB-95: #fff0eb;
    --colorB-99: #fffaf8;

    /* Tertiary (Based on --colorC) */
    --colorC-10: #3a2b00;
    --colorC-20: #634500;
    --colorC-30: #8d6000;
    --colorC-40: #b67a00;
    --colorC-50: #d89500;
    --colorC-60: #ffd866;
    --colorC-70: #ffe68e;
    --colorC-80: #fff4b3;
    --colorC-90: #fffadd;
    --colorC-95: #fffef3;
    --colorC-99: #fffcf7;

    /* Neutral (Based on --colorD) */
    --colorD-10: #122101;
    --colorD-20: #243f02;
    --colorD-30: #386003;
    --colorD-40: #4d8104;
    --colorD-50: #64a205;
    --colorD-60: #a9dc76;
    --colorD-70: #c3e8a0;
    --colorD-80: #daf4c3;
    --colorD-90: #f0fadf;
    --colorD-95: #f7fde8;
    --colorD-99: #fcfef7;

    /* Accent (Based on --colorE) */
    --colorE-10: #001f27;
    --colorE-20: #003842;
    --colorE-30: #00535f;
    --colorE-40: #00707d;
    --colorE-50: #008d9c;
    --colorE-60: #78dce8;
    --colorE-70: #a3e8f1;
    --colorE-80: #cff5fa;
    --colorE-90: #e8fafd;
    --colorE-95: #f4fdfe;
    --colorE-99: #fcfeff;

    /* Highlight (Based on --colorF) */
    --colorF-10: #1a1329;
    --colorF-20: #30224b;
    --colorF-30: #48326d;
    --colorF-40: #60418f;
    --colorF-50: #7850b2;
    --colorF-60: #ab9df2;
    --colorF-70: #c3bdf6;
    --colorF-80: #e0d9fa;
    --colorF-90: #f3edfd;
    --colorF-95: #faf6fe;
    --colorF-99: #fefcff;

    --neutral-0: #000000;
    --neutral-10: #1e1c1e;
    --neutral-20: #393739;
    --neutral-30: #545254;
    --neutral-40: #6e6c6e;
    --neutral-50: #898689;
    --neutral-60: #a3a1a3;
    --neutral-70: #bebcbe;
    --neutral-80: #d8d6d8;
    --neutral-90: #f2eff2;
    --neutral-95: #faf7fa;
    --neutral-99: #fffbfc;
    --neutral-100: #ffffff;
    --foreground: #fdf9f3;
    --background: #2c292d;
    --background-70: #2c292de0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    /* width:100%; */
    display: flex;
    justify-content: center;
    background: var(--neutral-10);
    overflow: auto;
    position: absolute;
}

/* load */

*[data-url] {
    cursor: pointer;
}

/* General Main */

main {
    background: var(--background-70);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    z-index: 1010;
}

body:has(main.show),
body:has(div.infoBanner) {
    overflow: hidden;
}

main div.main {
    display: flex;
    background: var(--background);
    color: var(--foreground);
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    min-width: 35vw;
}

body main.show {
    display: flex;
}

main::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit browsers */
}

/* Logo */

section.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 2em 0;
    align-self: center;
}

section.logo h1 {
    padding: 1rem;
    font-variant: all-small-caps;
    font-size: 2em;
}

section.logo div.logo img {
    width: 100px;
    height: 100px;
    padding: 1em;
    background: var(--neutral-95);
    border-radius: 1em;
}

main section h3 {
    text-align: center;
    margin-left: 1em;
}

section.interact > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-variant: all-small-caps;
}

section.interact div > * > h2 {
    flex: 1 100%;
    margin-left: 1em;
}

section.interact > div > * {
    padding: 1rem;
    margin: 0.25rem 0;
    border-radius: 1em;
    transition: 0.1s ease-out;
    display: flex;
    width: 90%;
    text-decoration: none;
}

section.interact div > *:hover {
    transition: 0.1s ease-in;
}

section.interact div:not(.doc) div {
    background: var(--neutral-30);
    color: var(--colorA-90);
    user-select: none;
}

section.interact div:not(.doc) div:hover {
    background: var(--colorA-90);
    color: var(--colorA-40);
}

section.interact div.recent {
    display: none;
}

section.interact div.doc a {
    background: var(--colorB-40);
    color: var(--colorB-90);
    margin-top: 1em;
}

section.interact div.doc a:hover {
    background: var(--colorB-90);
    color: var(--colorB-30);
}

section.interact div *:hover > img {
    filter: invert(1);
}

section.footer {
    margin-top: 2em;
    padding: 1em 0;
    min-width: 50%;
    border-top: 0.2em solid var(--foreground);
    text-align: center;
    /* width: 90%; */
}

section.footer a {
    color: var(--foreground);
    text-decoration: none;
    font-weight: 500;
}

section.footer a:hover {
    text-decoration: underline;
}

section div.available-item {
    cursor: pointer;
}

section div.available-item.back {
    order: -1;
}

section div.available h2 {
    order: -2;
}

/* Nav */

nav {
    width: 100%;
}

div.infoBanner nav img {
    padding: 0;
}

nav img {
    padding: 1em;
    cursor: pointer;
    /* justify-self: center; */
}

article.pensum {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
}

article.pensum ul.term {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1em;
}

article.pensum ul.term li {
    min-width: 13em;
    min-height: 4em;
    cursor: pointer;
    user-select: none;
    margin: 0.5em 0;
    font-variant: all-small-caps;
    padding: 0.5em;
    border-radius: 0.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article.pensum ul.term li {
    background: var(--neutral-90);
    color: var(--neutral-10);
    position: relative;
    border: 0.2em solid transparent;
}

article.pensum ul.term li.term {
    background: var(--colorA-50);
    color: var(--neutral-10);
    min-height: 2em;
}

article.pensum ul.term li.term p {
    font-size: 1.25em;
    font-weight: bold;
    width: 100%;
    text-wrap: nowrap;
}

article.pensum ul.term li.term:hover {
    background: var(--colorA-60);
}

/* Element Status */

article.pensum ul.term li.corequired {
    border: 0.2em solid var(--colorA-50);
}

article.pensum ul.term li.unavailable {
    background: var(--neutral-50);
    cursor: default;
}

article.pensum ul.term li.unavailable:hover {
    background: var(--neutral-60);
}

article.pensum.path ul.term li.available-next {
    background: var(--colorD-60);
}

/* Badge */

article.pensum ul.term li div.badge {
    display: none;
    justify-content: right;
    font-size: 0.75em;
    font-weight: bold;
    position: absolute;
    bottom: -1em;
    right: -1em;
}
article.pensum.selection ul.term li.selected div.badge {
    display: flex;
}

article.pensum.selection ul.term li.sel-act:hover div.badge {
    display: flex;
}

article.pensum:not(.selection) ul.term li:hover div.badge {
    display: flex;
}

article.pensum ul.term li div.badge div.info {
    display: flex;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 100%;
    background: var(--colorE-50);
    cursor: pointer;
}

/* Star Mode */

article.pensum.selection ul.term li {
    opacity: 0.2;
}

article.pensum.selection ul.term li.selected {
    opacity: 1;
    background: var(--neutral-90);
}

article.pensum.selection ul.term li.sel-act {
    background: var(--neutral-80);
    opacity: 1;
}

article.pensum.selection ul.term li.sel-act.coreq:hover {
    background: var(--colorE-70);
}
article.pensum.selection ul.term li.sel-act.prereq:hover {
    background: var(--colorD-70);
}
article.pensum.selection ul.term li.sel-act.required:hover {
    background: var(--colorA-80);
}

article.pensum.selection ul.term li:first-child {
    opacity: 1;
}

/* Path Mode */

article.pensum.path ul.term li.passed {
    background: var(--colorF-50);
}

aside.path li.path {
    background: var(--colorF-50);
}

/* canvas */

canvas.arrow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

article.pensum {
    z-index: 1001;
}

/* Aside */

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding: 1em;
    background: var(--neutral-20);
    color: var(--foreground);
    z-index: 1002;
    order: -1;
}

aside ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul li {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    background: var(--neutral-30);
    color: var(--foreground);
    cursor: pointer;
    transition: 0.1s ease-out;
    display: flex;
}

aside ul li:hover {
    background: var(--neutral-40);
}

/* Info */

body > div.infoBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--background-70);
    top: 0;
    left: 0;
    padding: 1em;
    z-index: 1003;
}

body > div.infoBanner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--neutral-10);
    color: var(--foreground);
    padding: 1em;
    border-radius: 1em;
    font-variant: all-small-caps;
    min-width: 25vw;
    min-height: 25vh;
}

body > div.infoBanner h3 {
    font-size: 2em;
    margin: 0.5em 0.5em 0em 0.5em;
}

body > div.infoBanner p.code {
    font-style: italic;
    margin-bottom: 1em;
}

body > div.infoBanner ul {
    list-style-type: none;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

body > div.infoBanner ul li {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    background: var(--neutral-30);
    color: var(--foreground);
    cursor: pointer;
    transition: 0.1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div.infoBanner ul li:hover {
    background: var(--neutral-40);
}

body > div.infoBanner h4 {
    margin-top: 1em;
}

body > div.infoBanner div.hours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    font-variant: all-small-caps;
    margin-top: 1em;
}

body > div.infoBanner div.hours > img {
    margin-left: 0.5em;
    cursor: pointer;
}

body > div.infoBanner div.hours div.extendInfo {
    flex: 1 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

body > div.infoBanner div.hours div.extendInfo.show {
    display: flex;
}

/* Create */

.create form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.create form div.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.create form div.form input,
.create form div.form textarea,
.create form div.form select {
    padding: 0.5em;
    margin: 0 0.5em 0.5em 0.5em;
    border-radius: 1em;
    background: var(--neutral-20);
    color: var(--foreground);
    border: 0.2em solid transparent;
    transition: 0.1s ease-out;
    text-align: center;
}

.create form div.form input:not(:placeholder-shown)[type="text"] {
    text-align: left;
    background: var(--neutral-40);
}

.create form div.form input:hover,
.create form div.form textarea:hover,
.create form div.form select:hover {
    background: var(--neutral-30) !important;
}

.create form div.form select option:checked {
    background: var(--neutral-40);
}

.create form div.form label {
    font-variant: all-small-caps;
    font-weight: bold;
}

.create form div.form button {
    padding: 0.75em;
    margin: 1em;
    border-radius: 1em;
    border: none;
    background: var(--neutral-30);
    color: var(--neutral-100);
    cursor: pointer;
    user-select: none;
    transition: 0.1s ease-out;
    display: flex;
    align-items: center;
}

.create form div.form button * {
    cursor: pointer;
}

.create form div.form button#create:hover {
    background: var(--colorA-70);
}

.create form div.form button#clear:hover {
    background: var(--colorB-60);
}

.create form div.form textarea {
    text-align: left;
}

.create form div.form.submit {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    /* justify-self: left; */
    /* align-self: left; */
}

.create form div.new {
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.create form div.new.show {
    display: flex;
}

.create form div.new  h4 {
    flex:1 100%;
    text-align: center;
}